//! **************************************************************************
// Written by: Map M.53d on Thu Aug 11 05:45:38 2011
//! **************************************************************************

SCHEMATIC START;
COMP "ARM_IND" LOCATE = SITE "J14" LEVEL 1;
COMP "FRONT_DOOR_IND" LOCATE = SITE "K14" LEVEL 1;
COMP "SIREN" LOCATE = SITE "P4" LEVEL 1;
COMP "ANODE_CONTROL<0>" LOCATE = SITE "F17" LEVEL 1;
COMP "ANODE_CONTROL<1>" LOCATE = SITE "H17" LEVEL 1;
COMP "ANODE_CONTROL<2>" LOCATE = SITE "C18" LEVEL 1;
COMP "ANODE_CONTROL<3>" LOCATE = SITE "F15" LEVEL 1;
COMP "REAR_DOOR" LOCATE = SITE "E18" LEVEL 1;
COMP "WINDOW" LOCATE = SITE "D18" LEVEL 1;
COMP "WINDOW_IND" LOCATE = SITE "J15" LEVEL 1;
COMP "CATHODE<0>" LOCATE = SITE "C17" LEVEL 1;
COMP "CATHODE<1>" LOCATE = SITE "H14" LEVEL 1;
COMP "CATHODE<2>" LOCATE = SITE "J17" LEVEL 1;
COMP "CATHODE<3>" LOCATE = SITE "G14" LEVEL 1;
COMP "CATHODE<4>" LOCATE = SITE "D16" LEVEL 1;
COMP "CATHODE<5>" LOCATE = SITE "D17" LEVEL 1;
COMP "FRONT_DOOR" LOCATE = SITE "H13" LEVEL 1;
COMP "CATHODE<6>" LOCATE = SITE "F18" LEVEL 1;
COMP "CATHODE<7>" LOCATE = SITE "L18" LEVEL 1;
COMP "CLK" LOCATE = SITE "B8" LEVEL 1;
COMP "ARM" LOCATE = SITE "G18" LEVEL 1;
COMP "REAR_DOOR_IND" LOCATE = SITE "K15" LEVEL 1;
NET "CLK_BUFGP/IBUFG" BEL "CLK_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

