

NET "CLK" LOC = B8;
NET "ARM" LOC = G18;   # Switch 0

NET "FRONT_DOOR" LOC = H13; # Button 3
NET "REAR_DOOR" LOC = E18; # Button 2
NET "WINDOW" LOC = D18; # Button 1

NET "ARM_IND" LOC = J14; #LED 0

NET "FRONT_DOOR_IND" LOC = K14; #LED3
NET "REAR_DOOR_IND" LOC = K15; #LED2
NET "WINDOW_IND" LOC = J15; #LED1

NET "CATHODE[0]" LOC = C17;  #DP
NET "CATHODE[1]" LOC = H14; #CG
NET "CATHODE[2]" LOC = J17; #CF
NET "CATHODE[3]" LOC = G14; #CE
NET "CATHODE[4]" LOC = D16; #CD
NET "CATHODE[5]" LOC = D17; #CC
NET "CATHODE[6]" LOC = F18; #CB
NET "CATHODE[7]" LOC = L18; #CA

NET "ANODE_CONTROL[0]" LOC = F17;
NET "ANODE_CONTROL[1]" LOC = H17;
NET "ANODE_CONTROL[2]" LOC = C18;
NET "ANODE_CONTROL[3]" LOC = F15;

NET "SIREN" LOC = P4; #LED7  P4 for NEXYS2-1200 (R4 for NEXYS2-500 series)